.flex-conatiner { 
    display: flex;
    flex-wrap: wrap;
    justify content: space-between;
    background-color: rgb(217, 129, 94);
    height: 400px;
 
}
h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: black;
}

.flex-conatiner > div {
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 50px;
    text-align: center;
    font-size: 60px;
    color: black;
}


#Banner {
    background-color: white;
    justify-content: center;
    width: 200px;
    height: 100px;
    
}

#leftdiv2 {
    background-color: white;
    justify-content: start;
    width: 400px;
    height: 200px;

}


#leftdiv3 {
    background-color: white;
    justify-content: start;
    width: 400px;
    height: 200px;
}
    
   
#leftdiv4 {
    background-color: white;
    justify-content: start;
    width: 400px;
    height: 200px;
} 













